@model IEnumerable<PessoasWeb.Models.Pessoa>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cadastrar</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/SimpleSideBar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Content/modal.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">

        <form class="form-signin" action="../index.html" name="cadastro" method="post">

            <h2 class="form-signin-heading">Cadastrar</h2>
            <label for="inputEmail" class="sr-only">Nome</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Nome" required autofocus>
            <br />

            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de E-mail" required autofocus>
            <br />
            <label for="inputEmail" class="sr-only">Data de nascimento</label>
            <input type="date" id="inputEmail" class="form-control" placeholder="Data de nascimento" required autofocus>
            <br />
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" pattern=".{6,30}" required id="password" class="form-control" placeholder="Senha" name="password" required title="Digite uma senha entre 6 e 30 caracteres">
            <br />
            <label for="inputPassword" class="sr-only">Repetir senha</label>
            <input type="password" required id="passwordconf" name="passwordconf" class="form-control" oninput="check(this)" placeholder="Confirme sua senha" required>
            <br />
            <script language='javascript' type='text/javascript'>
function check(input) {
    if (input.value != document.getElementById('password').value) {
        input.setCustomValidity('As senhas devem sem iguais');
    } else {
        // input is valid -- reset the error message
        input.setCustomValidity('');
   }
}
            </script>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="terms"> Eu aceito os Termos e condições de uso
                </label>
            </div>

            <h5> Já tem uma conta? <a href="/Pessoa/Entrar"> Entrar </a> </h5>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>

        </form>

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

