
@model IEnumerable<PessoasWeb.Models.Pessoa>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="SimpleSideBar.css">
    <script src="video-js/video.js"></script>

    <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
    <script>
    videojs.options.flash.swf = "video-js.swf";
    </script>



    <script type="text/javascript">
  document.createElement('video');document.createElement('audio');document.createElement('track');
    </script>
    <title>Index</title>
</head>
<body>


    <div id="wrapper">


        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->

        <div id="site-wrapper">
            <div class="container-fluid">

                <nav class="navbar navbar-inverse navbar-default navbar-fixed-top ">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Vid.NU</a>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="/Pessoa/Index">Home</a></li>
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorias </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><p class="fa fa-microphone"></p> Comédia</a></li>
                                        <li><a href="#"><p class=" fa fa-futbol-o"></p> Esportes </a></li>
                                        <li><a href="#"><p class="fa fa-headphones"></p> Músicas</a></li>
                                        <li><a href="#"><p class="fa fa-bug"></p> Animais</a></li>
                                        <li><a href="#"><p class="fa fa-film"></p> Cinema e TV</a></li>
                                        <li><a href="#"><p class="fa fa-music"></p> Dança</a></li>
                                        <li><a href="#"><p class="fa fa-gamepad"></p> Games</a></li>
                                        <li><a href="#"><p class="fa fa-child"></p> Infantil</a></li>
                                        <li><a href="#"><p class="fa fa-frown-o fa-rotate-180"></p> Terror</a></li>
                                        <li><a href="#"><p class="fa fa-tumblr"></p> Tutoriais</a></li>

                                    </ul>
                                </li>
                                <li><a href="#">Contato</a></li>

                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"> </span> </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><p> </p>Ver perfil</a></li>
                                        <li class="divider"> </li>
                                        <li><a href="#"><p class="glyphicon glyphicon-time"></p>Assistir Depois</a></li>
                                        <li><a href="#"><p class="glyphicon glyphicon-envelope"></p>Mensagens</a></li>
                                        <li><a href="#"><p class="glyphicon glyphicon-cog"> </p>Configurações</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" action="Páginas/upload.html">
                                <input type="text" class="form-control" id="md" placeholder="Procurar...">
                                <a href="/Pessoa/Upload" type="submit" class="btn btn-danger"> Upload </a>
                            </form>

                            <form class="navbar-form navbar-right" >
                                <a href="/Pessoa/Entrar" ype="submit" class="btn btn-primary"> Entrar</a>
                            </form>
                        </div>
                    </div>
                </nav>


                <!-- Sidebar -->
            @*<div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                                <i class="fa fa-user"> </i> Pedro
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><span class="fa fa-caret-square-o-down"></span> Minhas Incrições</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Variável</a> </li>
                                <li><a href="#">Variável</a> </li>
                                <li><a href="#">Variável</a> </li>
                                <li><a href="#">Variável </a></li>
                                <li><a href="#">Variável</a> </li>

                                <li class="seemore"><a href="Páginas/inscricoes.html">Ver mais...</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><span class="fa fa-caret-square-o-down"></span>Meus Seguidores</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Variável</a></li>
                                <li><a href="#">Variável</a></li>
                                <li><a href="#">Variável</a></li>
                                <li><a href="#">Variável</a></li>
                                <li><a href="#">Variável</a></li>

                                <li class="seemore"><a href="Páginas/seguidores.html">Ver mais...</a></li>
                            </ul>
                        </li>


                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-youtube-play"> </span>Meu espaço Vid.NU</a>
                            <ul class="dropdown-menu" role="menu">
                                <li> <a href="Páginas/meusdownloads.html"> Meus downloads </a> </li>
                                <li> <a href="Páginas/meusuploads.html"> Meus uploads </a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>*@




                <div class="container" style="padding-top: 50px ">
                     
                    <div class="container">
                        <!-- Example row of columns -->
                        <div class="row">
                            <div class="col-md-4">
                                <h3> Gust Foca </h3>

                                <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                   <source src="../videos/VID-20171029-WA0004.mp4" type='video/mp4' />
                                    <!-- <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!--  <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9
                                      <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
                                </video>
                                <h5> 6 visualizações </h5>
                                <h5>22 de Janeiro de 20XX </h5>
                            </div>
                            <div class="col-md-4">
                                <h3> Gust Reobolando </h3>
                                <video id="example_video_2" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                    <source src="../videos/VID-20171102-WA0005.mp4" type='video/mp4' />
                                    <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track> -->
                                </video>

                                <h5> 5 visualizações </h5>
                                <h5>12 de Abril de 20XX </h5>
                            </div>

                            <div class="col-md-4">
                                <h3> Nome do vídeo </h3>
                                <video id="example_video_3" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                    <source src="../One Piece/OpEX_340_HD.mp4" type='video/mp4' />
                                    <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track> -->
                                </video>
                                <h5> 23 visualizações </h5>
                                <h5> 15 de Maio de 20XX </h5>

                            </div>

                            <div class="col-md-4">
                                <h3> Nome do vídeo </h3>
                                <video id="example_video_4" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                    <source src="../One Piece/OpEX_341_HD.mp4" type='video/mp4' />
                                    <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track>  -->
                                </video>
                                <h5> 12 visualizações </h5>
                                <h5>12 de Outubro de 20XX </h5>
                            </div>
                            <div class="col-md-4">
                                <h3> Nome do vídeo </h3>
                                <video id="example_video_2" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                    <source src="../One Piece/OpEX_342_HD.mp4" type='video/mp4' />
                                    <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track> -->
                                </video>

                                <h5> 5 visualizações </h5>
                                <h5>12 de Abril de 20XX </h5>
                            </div>

                            <div class="col-md-4">
                                <h3> Nome do vídeo </h3>
                                <video id="example_video_2" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                    <source src="../One Piece/OpEX_342_HD.mp4" type='video/mp4' />
                                    <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track> -->
                                </video>

                                <h5> 5 visualizações </h5>
                                <h5>12 de Abril de 20XX </h5>
                            </div>

                            <div class="col-md-4">
                                <h3> Nome do vídeo </h3>
                                <video id="example_video_2" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                    <source src="../One Piece/OpEX_342_HD.mp4" type='video/mp4' />
                                    <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track> -->
                                </video>

                                <h5> 5 visualizações </h5>
                                <h5>12 de Abril de 20XX </h5>
                            </div>
                            <div class="col-md-4">
                                <h3> Nome do vídeo </h3>
                                <video id="example_video_2" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                    <source src="../One Piece/OpEX_342_HD.mp4" type='video/mp4' />
                                    <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track> -->
                                </video>

                                <h5> 5 visualizações </h5>
                                <h5>12 de Abril de 20XX </h5>
                            </div>
                            <div class="col-md-4">
                                <h3> Nome do vídeo </h3>
                                <video id="example_video_2" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                    <source src="../One Piece/OpEX_342_HD.mp4" type='video/mp4' />
                                    <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track> -->
                                </video>

                                <h5> 5 visualizações </h5>
                                <h5>12 de Abril de 20XX </h5>
                            </div>
                            <div class="col-md-4">
                                <h3> Nome do vídeo </h3>
                                <video id="example_video_2" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="300" height="270" data-setup="{}">
                                    <source src="../One Piece/OpEX_342_HD.mp4" type='video/mp4' />
                                    <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                                    <!-- <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track> -->
                                </video>

                                <h5> 5 visualizações </h5>
                                <h5>12 de Abril de 20XX </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
  
    <!-- jQuery -->
    <script src="~/Content/Jquery.js"></script>






    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap.min.js"></script>



    <!-- Menu Toggle Script -->



    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


</body>
</html>
