@model IEnumerable<PessoasWeb.Models.Pessoa>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Upload</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">


</head>

<body>

    <div class="container">

        <form class="form-signin" action="../index.html">
            <h2 class="form-signin-heading">Faça seu upload</h2>
            <label for="inputEmail" class="sr-only">Nome do vídeo</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Nome do vídeo" required autofocus>
            <label for="file"> Escolha um arquivo: </label>
            <input type="file" accept=".mp4 , .ogg , .webm , .3gp , .avi , .wmv , .wav , .mkv" name="file" required />
            <br />
            <label for="file"> Escolha uma categoria: </label>
            <select class="form-control" required>
                <option value=""> Categorias...</option>
                <option value="comedia"> Comédia</option>
                <option value="esportes"> Esportes</option>
                <option value="musicas">Músicas</option>
                <option value="animais"> Animais</option>
                <option value="cinema"> Cinema e TV</option>
                <option value="danca">Dança</option>
                <option value="games"> Games</option>
                <option value="infantil"> Infantil</option>
                <option value="terror"> Terror</option>
                <option value="tutoriais"> Tutoriais</option>
            </select>
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
        </form>

    </div>






    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
